:root {
    --clr-primary-purple: #7d2ae8;
    --clr-primary-darker-purple: #5a32fa;
    --clr-dark-blue: #280f91;
    --clr-primary-cyan: #00c4cc;

    --clr-neutral-blue: #b4f0f0;
    --clr-neutral-pink: #ffa5f0;
    --clr-neutral-white: #e9ecef;

    --clr-primary-black: #0e1318;
    --clr-primary-dark: #293039;
}

.container {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    width: min(90%, 1400px)
}

.results {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.bold-results {
    font-weight: 700;
}

.section-results {
    padding-block: 4rem;
}

.search-form {
    border-bottom: 4px solid rgb(238, 238, 238);
    padding-bottom: 3.2rem;
}

.form-control {
    width: 1400px;
    padding-block: 1.4rem;
    padding-inline: 2rem;
    font-size: 1.4rem;
    border: 4px solid rgb(238, 238, 238);
    border-radius: 5px;
    transition: border ease-in-out 130ms;
}

.form-control:focus {
    border: 4px solid #bb8eff;
    box-shadow: 0px 0px 10px #cba8ff;
    outline: none;
}

.form-control::after {
    content:'';
    width: 60px;
    height: 60px;
    background: url('https://cdn3.iconfinder.com/data/icons/feather-5/24/search-512.png');
    display: block;
    position: absolute;
}

fieldset {
    border: none;
}

main {
    padding-bottom: 20rem;
}

.form-flex {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.form-group {
    padding-bottom: 1rem;
    width: 100%;
}

.search-button {
        border: none;
        background-color: var(--clr-primary-purple);
        color: white;
    
        border-radius: 6px;
        padding-inline: 1.7em;
        padding-block: 0.9em;
    
        font-weight: 600;
        font-size: 1.1em;
        transition: background-color ease-in-out 200ms;
        font-weight: 500;
        border-radius: 5px;
        height: 3.5rem;
        cursor: pointer;
}

.search-button:hover {
    background-color: var(--clr-primary-darker-purple);
}