:root {
    --clr-primary-purple: #7d2ae8;
    --clr-primary-darker-purple: #5a32fa;
    --clr-dark-blue: #280f91;

    --clr-neutral-blue: #b4f0f0;
    --clr-neutral-pink: #ffa5f0;
    --clr-neutral-white: #e9ecef;

    --clr-primary-black: #0e1318;
    --clr-primary-dark: #293039;
}

.header {
    padding-inline: 2rem;
    padding-block: 1.3rem;

    background-color: white;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
}

.container-fluid {
    margin-inline: auto;
}

.button {
    background-color: var(--clr-primary-purple);
    color: white;

    border-radius: 6px;
    padding-inline: 1.7em;
    padding-block: 0.9em;

    font-weight: 600;
    font-size: 0.9em;
    text-decoration: none;
    transition: background-color ease-in-out 200ms;
}

.button:hover {
    background-color: var(--clr-primary-darker-purple);
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gap {
    gap: 2rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    font-size: 0.9rem;
    gap: 1rem;
}

.navbar-nav a {
    color: var(--clr-primary-dark);
    text-decoration: none;
    font-weight: 500;
}

.navbar-nav a:hover {
    color: var(--clr-primary-purple);
}

.drop-down::after {
    content: '';
    display: inline-block;
    margin-left: 4px;
    height: 10px;
    width: 9px;
    background-color: #293039;
    clip-path: polygon(0 15%, 100% 15%, 50% 60%);
}

.saved-job-link {
    height: 20px;
}

.saved-job-a {
    position: relative;
}

.saved-job-link:hover {
    filter: invert(21%) sepia(71%) saturate(7496%) hue-rotate(265deg) brightness(94%) contrast(93%);
}

.saved-job-counter {
    background-color: var(--clr-primary-darker-purple);
    width: 17px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
}

.nav-toggle {
    display: none;
}

.mobile-nav {
    display: none;
    position: fixed;
}

@media (max-width: 1200px) {
    .button {
        padding-inline: 1em;
        padding-block: 0.9em;
        
        font-size: 0.8em;
    }
}

@media (max-width: 1030px) {
    .header {
        padding-left: 1.3rem;
        padding-right: 0.5rem;
        padding-block: 0.8rem;
    }
    .navbar-nav {
        list-style: none;
        display: none;
        font-size: 0.9rem;
        gap: 1rem;
    }
    
    .logo {
        width: 4rem;
    }
    
    .button {
        display: none;
    }
    
    .nav-toggle {
        display: block;   
        width: 40px;
        height: 40px;
        border: none;
        background-color: rgba(0,0,0,0);
        background-image: url(../images/menu_FILL0_wght400_GRAD0_opsz48.png);
        background-origin: center;
        background-repeat: no-repeat;
        background-size:80%;
        cursor: pointer;
    }

    .nav-toggle-close {
        display:block;
        position: fixed;
        width: 40px;
        height: 40px;
        border: none;
        background-color: rgba(0,0,0,0);
        background-image: url(../images/close_FILL0_wght400_GRAD0_opsz48.png);
        background-origin: center;
        background-repeat: no-repeat;
        background-size:80%;
        cursor: pointer;

        top: 10px;
        right: 10px;
    }
    
    .nav-toggle-active {
        display: block;   
        width: 40px;
        height: 40px;
        border: none;
        background-color: rgba(0,0,0,0);
        background-image: url(../images/close_FILL0_wght400_GRAD0_opsz48.png);
        background-origin: center;
        background-repeat: no-repeat;
        background-size:80%;
        cursor: pointer;
    }
    
    .mobile-nav {
        display: flex;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: white;
        transform-origin: top;
        transform: translateY(0%);
        z-index: 1000;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 6rem;
        padding-bottom: 6rem;
        box-sizing: border-box;
        font-size: 1.5rem;
        font-weight: 600;
        transition: all ease-in-out 800ms;
    }
    
    .mobile-nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-left: -1rem;
    }
    
    
    
    .mobile-nav a {
        text-decoration: none;
    }

    .button-nav {
        background-color: var(--clr-primary-purple);
        color: white;
    
        border-radius: 6px;
        width: 90%;
        padding-block: 0.7rem;
        margin-inline: auto;
        font-weight: 500;
        font-size: 0.9rem;
        text-decoration: none;
        text-align: center;
        transition: background-color ease-in-out 200ms;
    }

    .button-nav:hover {
        color: white;
        background-color: var(--clr-primary-darker-purple);
    }

    .inside-link {
        color: var(--clr-primary-black);
    }

    .inside-link:hover {
        color: var(--clr-primary-darker-purple);    
    }

    .mobile-nav[data-state="false"] {
        transform: translateY(-100%);
    }
}