.hero {
    padding-top: 9.5rem;
    padding-bottom: 3.5rem;
    margin-inline: auto;
    line-height: 1.35;
}

.hero-heading {
    font-size: 6rem;
    font-weight: 600;
    
    border-right: 4px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 1.6s steps(19),
    cursor 0.6s step-end 3 alternate,
    fade-out 0s ease-in-out 1.6s forwards,
    translateX 1.6s steps(19);
    padding-inline: 7px;
    padding-block: 10px;
}

@keyframes translateX {
    0% {
        transform: translateX(32rem);
    }
    
    100% {
        transform: translateX(0rem);
    }
}

@keyframes fade-out {
    0% {
        border-color: rgba(0,0,0,1);
    }
    
    100% {
        border-color: rgba(0,0,0,0);
    }
    
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0 }
}

.container {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    width: min(90%, 1400px)
}

.flex-center {
    display: inline-block;
}

@keyframes fade-in-border {
    0% {
        border-color: rgba(0,0,0,0);
    }
    100% {
        border-color: var(--clr-primary-cyan);
    }
  }
  
  
  .highlight-box {
      position: relative;
      animation: fade-in-border 0s ease-in-out 1.7s forwards;
      border: 4px solid rgba(0,0,0,0);
    }
    
    @keyframes fade-in-bg-color {
        0% {
            background-color: rgba(0,0,0,0);
        }
        100% {
            background-color: var(--clr-primary-cyan);
        }
    }
    
    .highlight-box::before {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0,0,0,0);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        left: -10px;
        top: -10px;
        animation: fade-in-bg-color 0s ease-in-out 1.7s forwards;
    }

.highlight-box::after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    animation: fade-in-bg-color 0s ease-in-out 1.7s forwards;

}

.highlight-box-bottom {
    padding-inline: 4px;
}

.highlight-box-bottom::before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -10px;
    bottom: -10px;
    animation: fade-in-bg-color 0s ease-in-out 1.7s forwards;
    
}

.highlight-box-bottom::after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: -10px;
    bottom: -10px;
    animation: fade-in-bg-color 0s ease-in-out 1.7s forwards;
}

.break {
    display: none;
}

@media (max-width: 1200px) {
    .break {
        display: block;
    }
}

@media (max-width: 990px) {
    .hero {
        padding-top: 5.5rem;
        padding-bottom: 2.5rem;
    }
    
    .hero-heading {
        font-size: 2.5rem;
    }
    .break {
        display: none;
    }
}

@media (max-width: 490px) {
    .break {
        display: block;
    }
}